# Secrets
lib/services/secrets.dart
lib/secrets.dart
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android
android/.gradle/
android/local.properties
